// ----
// Sass Dart (v1.4.0)
// style.scss
// ----

// Variables
$bubble-shift: -46px;

// Mixins
@mixin animate ($name) {   
    animation-name: $name;
    animation-iteration-count: infinite;     
    animation-duration: 0.6s;  
}

@mixin position ($x, $y, $height, $width) {
    position: absolute;
    background-position-x: $x;
    background-position-y: $y;
    height: $height;
    width: $width;
    background-size: 200px;
    background-repeat: no-repeat; 
}

@mixin sharkle-animation($colour, $state, $frames) {
    // Create an animation
    @keyframes #{$colour}_#{$state} {      
        // Loop over the frames
        @for $i from 0 to $frames {
            // Compute keyframes
            $current-frame: percentage(((100 / ($frames - 1)) * $i) / 100);
            // Output styles for each frame
            #{$current-frame} {
                background-image: url("../images/#{$colour}/#{$state}_#{$i}.png");
            }
        }
    }
}

@mixin bubble-animation($colour, $state, $direction, $frames) {    
    // Create an animation
    @keyframes #{$colour}_#{$state}_#{$direction} {
        // Loop over the frames
        @each $i, $percent in (0, 0%), (0, 50%), (1, 50.01%), (1, 100%) {
                #{$percent} {
                    @if $direction == 'right' {
                        background-image: url("../images/#{$colour}/#{$state}_#{$i+2}.png");
                    } @else {
                        background-image: url("../images/#{$colour}/#{$state}_#{$i}.png");
                    }           
                    @if $i == 1 {
                        background-position-y: $bubble-shift;
                    }
                }
        }
    }
}

#window {
    position: relative;
    height: 270px;
    width: 290px;
    -webkit-app-region: drag;
}

#sharkle {
    @include position(-25px, -10px, 185px, 150px);
    @include animate(white_idle);
    right: 0;
    bottom: 0;   
    -webkit-app-region: no-drag;       
}

#bubble {
    @include position(-20px, -50px, 120px, 160px);
    @include animate(white_bubble_left);      
    visibility: hidden;
}

// Generate animation
@include sharkle-animation('white', 'idle', 7);
@include sharkle-animation('black', 'idle', 7);
@include sharkle-animation('white', 'wave', 3);
@include sharkle-animation('black', 'wave', 3);
@include bubble-animation('white', 'bubble', 'left', 2);
@include bubble-animation('black', 'bubble', 'left', 2);
@include bubble-animation('white', 'bubble', 'right', 2);
@include bubble-animation('black', 'bubble', 'right', 2);