#window {
  position: relative;
  height: 270px;
  width: 290px;
  -webkit-app-region: drag; }

#sharkle {
  position: absolute;
  background-position-x: -25px;
  background-position-y: -10px;
  height: 185px;
  width: 150px;
  background-size: 200px;
  background-repeat: no-repeat;
  animation-name: white_idle;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  right: 0;
  bottom: 0;
  -webkit-app-region: no-drag; }

#bubble {
  position: absolute;
  background-position-x: -20px;
  background-position-y: -50px;
  height: 120px;
  width: 160px;
  background-size: 200px;
  background-repeat: no-repeat;
  animation-name: white_bubble_left;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  visibility: hidden; }

@keyframes white_idle {
  0% {
    background-image: url("../images/white/idle_0.png"); }
  16.66667% {
    background-image: url("../images/white/idle_1.png"); }
  33.33333% {
    background-image: url("../images/white/idle_2.png"); }
  50% {
    background-image: url("../images/white/idle_3.png"); }
  66.66667% {
    background-image: url("../images/white/idle_4.png"); }
  83.33333% {
    background-image: url("../images/white/idle_5.png"); }
  100% {
    background-image: url("../images/white/idle_6.png"); } }

@keyframes black_idle {
  0% {
    background-image: url("../images/black/idle_0.png"); }
  16.66667% {
    background-image: url("../images/black/idle_1.png"); }
  33.33333% {
    background-image: url("../images/black/idle_2.png"); }
  50% {
    background-image: url("../images/black/idle_3.png"); }
  66.66667% {
    background-image: url("../images/black/idle_4.png"); }
  83.33333% {
    background-image: url("../images/black/idle_5.png"); }
  100% {
    background-image: url("../images/black/idle_6.png"); } }

@keyframes white_wave {
  0% {
    background-image: url("../images/white/wave_0.png"); }
  50% {
    background-image: url("../images/white/wave_1.png"); }
  100% {
    background-image: url("../images/white/wave_2.png"); } }

@keyframes black_wave {
  0% {
    background-image: url("../images/black/wave_0.png"); }
  50% {
    background-image: url("../images/black/wave_1.png"); }
  100% {
    background-image: url("../images/black/wave_2.png"); } }

@keyframes white_bubble_left {
  0% {
    background-image: url("../images/white/bubble_0.png"); }
  50% {
    background-image: url("../images/white/bubble_0.png"); }
  50.01% {
    background-image: url("../images/white/bubble_1.png");
    background-position-y: -46px; }
  100% {
    background-image: url("../images/white/bubble_1.png");
    background-position-y: -46px; } }

@keyframes black_bubble_left {
  0% {
    background-image: url("../images/black/bubble_0.png"); }
  50% {
    background-image: url("../images/black/bubble_0.png"); }
  50.01% {
    background-image: url("../images/black/bubble_1.png");
    background-position-y: -46px; }
  100% {
    background-image: url("../images/black/bubble_1.png");
    background-position-y: -46px; } }

@keyframes white_bubble_right {
  0% {
    background-image: url("../images/white/bubble_2.png"); }
  50% {
    background-image: url("../images/white/bubble_2.png"); }
  50.01% {
    background-image: url("../images/white/bubble_3.png");
    background-position-y: -46px; }
  100% {
    background-image: url("../images/white/bubble_3.png");
    background-position-y: -46px; } }

@keyframes black_bubble_right {
  0% {
    background-image: url("../images/black/bubble_2.png"); }
  50% {
    background-image: url("../images/black/bubble_2.png"); }
  50.01% {
    background-image: url("../images/black/bubble_3.png");
    background-position-y: -46px; }
  100% {
    background-image: url("../images/black/bubble_3.png");
    background-position-y: -46px; } }
